/* -------------------------------------------------- */
/*                      GLOBAL                        */
/* -------------------------------------------------- */

html {
    background-color: #242424;
    font-family: "Space Mono";
}


/* -------------------------------------------------- */
/*                      TEXT TYPING                   */
/* -------------------------------------------------- */

p {
    color: #0f0;    
    font-size: 400%;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 300;
    border-right: 2px solid #0f0;
}

.first-line {
    position: absolute;
    top: 25%;
    left: 2%;
    width: auto;
    animation: type-first-line 4s steps(20), blink 0.5s infinite alternate;
}


@keyframes type-first-line {
    from{
        width: 0;
    }
    to {
        width: 20ch;
    }
}

@keyframes blink {
    from {
        border-color:  transparent;
    } to {
        border-color: #0f0;
    }
}


/* -------------------------------------------------- */
/*                      NAVBAR                        */
/* -------------------------------------------------- */

.header-nav a {
    display: block;
    text-decoration: none;
    font-family: monospace;
    float: right;
    margin: 30px 25px;
    color: #0f0;
    font-size: 140%;
    font-weight: bold;
    
    
}

.nav-brand:before{
    color: #0f0;
    font:  bold 16px/1.25 "Space Mono";
    font-size: 100%;
    text-decoration: none;
    text-align: center;
    position: absolute;
    left: 3%;
    top: 2%;
    content: '=_=';
    animation-name: head;
    animation-duration: 0.2s;
    animation-iteration-count: 8;
    
}

@keyframes head {
    0% {opacity:1;}
    100% {opacity:1; content: "0_0"}
}